.btn {
    width: 160px;
    height: 45px;
    border-radius: 40px;
    border: none;
    background-color: $main-color;

    font-family: Roboto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 500ms ease;
    &:hover {
        background: rgba(0,0,0,0);
        color: $main-color;
        box-shadow: inset 0 0 0 3px $main-color;
    }
    &_biggest {
        width: 230px;
        height: 57px;

        margin-top: 39px;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
    }
    &_big {
        width: 180px;
        height: 45px;
    }
}