.managers {
    min-height: 342px;
    padding: 58px 0 72px 0;
    background: url(../images/managers/managers__bg.jpg) center (center/cover) no-repeat;
    image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges; /* Стандартное свойство */
    &__icon {
        @include circle-icon;
        span {
            img {
                transform: none;
            }
        }
    }
    &__title {
        margin-top: 18px;
        color: #ffffff;
        text-align: center;
        text-transform: none;
    }
    &__subtitle {
        width: 984px;
        display: block;
        margin: 0 auto;
        margin-top: 14px;
        color: #ffffff;
        text-align: center;
        text-transform: none;
    }
}