.questions {
    min-height: 438px;
    padding: 62px 0 79px 0;
    background: url(../../images/questions/questions_bg.jpg) center (center/cover) no-repeat;
    image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges; /* Стандартное свойство */
    &__block {
        width: 896px;
        height: 297px;
        background-color: rgba(255, 255, 255, .7);

        display: block;
        margin: 0 auto;
    }
    &__titles {
        height: 68px;
        background-color: #25333c;
        padding: 13px 0;
    }
    &__title {
        color: #ffffff;
    }
    &__subtitle {
        margin-top: 5px;
        line-height: 0px;
        color: #ffffff;
    }
    &__form {
        display: block;
        margin: 17px auto 0 auto;
        width: 815px;
    }
    &__inputs {
        display: flex;
        justify-content: space-between;
        input {
            width: 270px;
            height: 47px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 40px;
            padding-left: 29px;
            &::placeholder {
                opacity: 0.7;
                font-family: Roboto;
                font-size: 13px;
                line-height: 24px;
                font-weight: 300;
                color: #101010;
            }
        }
    }
    &__textarea {
        margin-top: 6px;
        textarea {
            resize: none;
            border-radius: 10px;
            border: 1px solid rgba(0,0,0,0.2);
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 73px;
            padding-left: 26px;
            padding-top: 12px;
            &::placeholder {
                opacity: 0.7;
                font-family: Roboto;
                font-size: 13px;
                line-height: 24px;
                font-weight: 300;
                color: #101010;
            }
        }
    }
    &__btn {
        margin-top: 16px;
        button {
            display: block;
            margin: 0 auto;
        }
    }
}