.scheme {
    min-height: 454px;
    padding: 51px 0 46px 0;
    background-color: $bg-color;
    &__row1 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__row2 {
        margin-top: 23px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__item {
        width: 270px;
        text-align: center;
        &-icon {
            height: 57px;
        }
        &-descr {
            margin: 5px;
        }
    }
    &__item2 {
        width: 270px;
        text-align: center;
        margin-left: 20px;
        &-icon {
            height: 57px;
        }
        &-descr {
            margin: 5px;
        }
        &:nth-child(1) { 
            margin-left: 0;
        }
    }
}