.title {
    font-family: Roboto;
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: $title-color;
    text-align: center;
    &_fz21 {
        font-size: 21px;
        line-height: 24px;
        font-weight: 300;
    }
    &_fz19 {
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
    }
    &_fz14 {
        font-size: 14px;
        line-height: 51px;
        font-weight: 400;
    }
}